.head {
  font-size: 24px;
  font-weight: 500;
}

.link {
  --h: var(--hue);
  color: hsl(var(--h), calc(var(--sat) * 1%), calc(var(--light) * 1%));
}

.subhead {
  font-size: 20px;
  font-weight: 500;
}

.text {
  font-size: 18px;
  font-weight: 400;
}

.icon {
  max-width: 32px;
  max-height: 32px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  &--mini {
    max-width: 18px;
    max-height: 18px;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
  }
  &--avatar {
    max-width: 48px;
    max-height: 48px;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
  }
}

input {
  border: rgb(209, 213, 219) 1px solid !important;
  line-height: 24px;
}

label {
  line-height: 24px;
}

textarea {
  border: rgb(209, 213, 219) 1px solid !important;
  resize: none;
}