body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;

}

html, body {
  overflow-x: hidden;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

#root {
  width: 100vw;
  height: 100vh;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
}

// Modifiers
.float {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: 90;

  justify-content: center;
  align-items: center;

  transition: all .3s;
  pointer-events: none;
  opacity: 0;
  &.visible {
    transition: all .3s;
    pointer-events: all;
    opacity: 1;
  }
}

.notifications-block {
  z-index: 100;
}

:root {
  --hue: 227;
  --sat: 74;
  --light: 35;
  --threshold: 65;
  --border-threshold: 80;
}

.theme_color {
  // Regenerated color
  --h: var(--hue);
  background: hsl(var(--h), calc(var(--sat) * 1%), calc(var(--light) * 1%));
  --switch: calc((var(--light) - var(--threshold)) * -100%);
  color: hsl(0, 0%, var(--switch));
}